@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --blue:#08D9D6;;
  --dark:#252A34;
  --crimson:#FF2E63;
  --light:#EAEAEA;
  font-family: montserrat;
  z-index: 1;

}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--dark);
  color: crimson;
}

*{
margin: 0;
padding: 0;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.logo{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    top: 50px;
    left: 50px;
}

.logo h1 a{
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--crimson);
}

.generatorMachine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.generatorMachine h1{
    margin: 30px 0px;
}

.generatorMachine #displayPass{
    height: 250px;
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
    overflow-x: scroll;
    text-overflow:clip;
    overflow-y: auto;
    color: var(--dark);
    resize: none;
}

.options{
    display: grid;
    grid-template-columns: 20vw 14vw 20vw;
    gap: 30px 30px;
}

.options .row1{
    display: flex;
    flex-direction: column;
}

.slider{
    display: flex;
    align-items: center;
}

.row1 .slider{
    margin: 15px 0px;
}

.row1 h1{
    font-size: 1.3rem;
    margin: 30px 0px 0px 0px;
}

.row1 span{
    font-size: 1.3rem;
    margin: 10px;
    font-weight: bolder;
}

.row1 .sliderVal{
    height: 30px;
    width: 80px;
    font-size: 1rem;
    font-weight: bolder;
    text-align: justify;
}

.row1 label{
    font-size: 1.2rem;
    font-weight: bolder;
}

.row2{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.row2 div{
display: flex;
align-items: center;
margin-bottom: 10px;
font-size: 1.3rem;
font-weight: bolder;
}

.row2 div input{
    height: 20px;
    width: 20px;
}

.row2 div span{
    margin-left: 10px;
}

.row3{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.row3 .single{
    display: flex;
    font-size: 1.3rem;
    justify-content: flex-start;
    gap: 25px;
    font-weight: bolder;
}

.single input{
    height: 20px;
    width: 20px;
}

.row3 .multiple{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
    font-weight: bolder;
}

.multiple input[type="radio"]{
    height: 20px;
    width: 20px;
}

.multiple input[type="Number"]{
    height: 30px;
    width: 150px;
    font-weight: bolder;
    color: var(--dark);
}


.row3 .include{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
    font-weight: bolder;
}

.include input[type="checkbox"]{
    height: 20px;
    width: 20px;
}

.include input[type="text"]{
    height: 30px;
    width: 150px;
    font-weight: bolder;
    color: var(--dark);
}
.row3 button{
    margin-top: 5px;
    height: 40px;
    width: 100%;
    font-size: 1.1rem;
    color: white;
    background-color: var(--crimson);
    font-weight: bolder;
    border: none;
}

@media screen and (max-width:1400px){
    #main{
        overflow-y: scroll;
    }
    
    .options{
        /* display: grid; */
        grid-template-columns: repeat(1,1fr);
        gap: 30px 30px;
    }

    .row3 .multiple{
        justify-content: flex-start;
        gap: 25px;
    }

    .row3 .include{
        justify-content: flex-start;
        gap: 25px;
    }

    .logo{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .generatorMachine{
        position: absolute;
        top: 72%;
    }

    .generatorMachine h1{
        display: none;
    }

    .options{
        margin-top: 50px;
    }
}

@media screen and (max-width:600px){
    .generatorMachine{
        top: 70%;
    }
}