@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --blue:#08D9D6;;
  --dark:#252A34;
  --crimson:#FF2E63;
  --light:#EAEAEA;
  font-family: montserrat;
  z-index: 1;

}

html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--dark);
  color: crimson;
}

*{
margin: 0;
padding: 0;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.logo{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    top: 50px;
    left: 50px;
}

#ham {
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
    z-index: 1000;
    transition: .5s ease-out;

}

#ham a:hover::after{
  content: "Options";
  background-color: var(--crimson);
  color: white;
  font-size: 12px;
  font-weight: bolder;
  position: absolute;
  right: 50%;
  padding: 5px;
}

#ham a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

#cross {
    position: absolute;
    top: 50px;
    right: 50px;
    display: none;
    z-index: 1000;
    transition: .5s ease-out;
}

#cross a{
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

#cross a:hover::after{
  content: "Close";
  background-color: var(--crimson);
  color: white;
  font-size: 12px;
  font-weight: bolder;
  position: absolute;
  right: 50%;
  padding: 5px;
}

.logo h1 a{
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--crimson);
}

.generatorMachine{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.generatorMachine h1{
    margin: 30px 0px;
}

.generatorMachine #displayPass{
    height: 250px;
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
    overflow-x: scroll;
    text-overflow:clip;
    overflow-y: scroll;
    color: var(--dark);
    resize: none;
}

.btns{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}

.btns button{
    height: 40px;
    background-color: var(--crimson);
    font-size: 1rem;
    width: 100%;
    font-weight: bolder;
    color: white;
    margin: 10px 0px;
    border: none;
  }

#options{
    z-index: 100;
    position: relative;
    display: grid;
    grid-template-columns: 20vw 14vw 20vw;
    top: 30%;
    gap: 30px 30px;
}

#options .row1{
    display: flex;
    flex-direction: column;
}

.slider{
    display: flex;
    align-items: center;
}

.row1 .slider{
    margin: 15px 0px;
}

.row1 h1{
    font-size: 1.3rem;
    margin: 30px 0px 0px 0px;
}

.row1 span{
    font-size: 1.3rem;
    margin: 10px;
    font-weight: bolder;
}

.row1 .sliderVal{
    height: 30px;
    width: 80px;
    font-size: 1rem;
    font-weight: bolder;
    text-align: justify;
}

.row1 label{
    font-size: 1.2rem;
    font-weight: bolder;
}

.row2{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.row2 div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.row2 div input{
    height: 20px;
    width: 20px;
}

.row2 div span{
    margin-left: 10px;
}

.row3{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.row3 .single{
    display: flex;
    align-items:center;
    font-size: 1.3rem;
    font-weight: bolder;
    gap: 35px;
}

.single input{
    height: 20px;
    width: 20px;
}

.single button{
   max-width: 150px;
    height: 20px;
    background-color: var(--crimson);
    color: white;
    font-family: montserrat;
    position: relative;
}

.single #urlAddBtn:disabled{
    background-color: var(--dark);
    color: grey;
}

#urlAddBtn:hover{
font-weight: lighter;
color: var(--dark);
}

#urlAddBtn:hover::after{
  content: "Add a website for the password generated";
  position: absolute;
  top: -30;
  font-size: 12px;
  width: 100%;
  left: 50%;
  background-color: var(--crimson);
  color: white;
}

#urlAddBtn:disabled:hover::after{
  content: "Tap on clear Box to continue";
  position: absolute;
  top: -30;
  font-size: 12px;
  width: 100%;
  left: 50%;
  background-color: var(--crimson);
  color: white;
}

.row3 .multiple{
    display: flex;
    gap: 15px;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
    font-weight: bolder;
}

.multiple input[type="radio"]{
    height: 20px;
    width: 20px;
}

.multiple input[type="Number"]{
    height: 30px;
    width: 150px;
    font-weight: bolder;
    color: var(--dark);
}


.row3 button{
    margin-top: 5px;
    height: 40px;
    width: 100%;
    font-size: 1.1rem;
    color: white;
    background-color: var(--crimson);
    font-weight: bolder;
    border: none;
}

@media only screen and (max-width:1400px){
    #main{
        display: flex;
        justify-content: center;
      }
      
      .logo{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 10px;
      }
      
      #ham{
        display: block;
        
      }

      .logo h1 a{
        text-decoration: none;
        font-size: 1.2rem;
        color: var(--crimson);
      }
      .logo h3{
        font-size: 1rem;
      }
      
      .generatorMachine{
        position: absolute;
        top: 50%;
        left:50%;
        width: 80vw;
        transform: translate(-50%,-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      
      .generatorMachine h1{
        font-size: 1rem;
        margin-bottom: 0px;
      }
      
      .generatorMachine #displayPass{
        height: 200px;
        width: 100%;
        margin: 30px;
        font-size: 1rem;
      }
      

      #options::before{
      content: "Options:";
      display: flex;
      padding: 50px 20px;
      font-size: 1.5rem;
      font-weight: bolder;
      }
      
      #options{
        background-color: black;
        position: absolute;
        top: 0;
        left: -11100;
        width: 100vw; 
        display: grid;
        grid-template-columns: auto;
        transition: 0.5s;
      }
      
      .row1, .row2, .row3{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px;
      }
      
      .row1{
        justify-content: center;
        align-items: center;
      }
      
      .row1 h1{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
      }
      
      .row1 .slider input[type="text"]{
        width: 100px;
        margin: 20px;
      }
      
      .row1 label{
        padding: 10px 20px;
      }
      
      .row1 .slider span{
        margin: 5px;
      }
      
      .row2 div{
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 5px;
      }
      
      .row3 .single{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
      }

      .single button{
        margin-left: 20px;
      }

      .row3 .multiple{
        justify-content: flex-start;
        gap: 15px;
      }
      
      #options button{
        background-color: var(--crimson);
        height: 30px;
        font-size: 1rem;
        color: white;
        border: none;
        transition: .3s;
      }
      
}
